body{
    font-family: "Montserrat", sans-serif;
}
header{
    padding-top: 24px;
    padding-bottom: 32px;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
    margin-top: 0;
}

ul{
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

a{
    text-decoration-line: none;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
     white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container{
    width: 1136px;
    margin: 0 auto;
  }

  .wrapper-head{
    padding: 380px 40px 40px 40px;
    background: rgba(17, 17, 17, 0.6);
    border-radius: 30px;
  }

.header-logo{
   font-weight: 700;
   font-size: 18px;
   line-height: 20px; 
   line-height: 1.11;
   letter-spacing: -0.03em;
   color: #111;
}

.header-logo-cursive{
    font-style: italic;
}

.header-menu-link:hover,.header-menu-link:focus{
    color: #fd9222;
}

.header-menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px; 
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
}

.loved{
    padding-bottom: 80px;
   
}

.loved-head{
    font-weight: 500;
    font-size: 28px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    color: #fff;
    margin-bottom: 32px;
   max-width: 484px;
}

.loved-btn{
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.loved-made{
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.loved-scroll{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #fff;
}

.about{
    background: #1e1823;
}

.about-title{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.about-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

.title{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}

.ingredients{
   padding-top: 120px;
   padding-bottom: 120px;
}

.ingredients-head{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    max-width: 412px;
    margin: 0 auto;
    margin-bottom: 28px;

}

.ingredients-part{
    color: #fd9222;
}

.ingredients-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.ingredients-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
}

.ingredients-taste{
    color: #111;
}

.products-head-part{
    color: #fd9222;
}

.products-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
}

.products-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.sellers-head-part{
    color: #fd9222;
}

.sellers-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
}

.choklate-head-part{
    color: #fd9222;
}

.choklate-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111;
}

.choklate-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.review-btn{
    font-weight: 600;
    font-size: 18px;
    color: #111;
}

.footer{
    background: #1e1823;
}

.footer-head{
    font-weight: 500;
    font-size: 28px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fd9222;
}

.footer-head-part{
    color: #fff;
}

.footer-networks{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fff;
}

.contact-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fff;
}

.footer-contact-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    font-style: italic;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}

.navigation-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: #fff;
}
